<template>
<div>
    <!-- Navbar -->
    <div class="navbarSize">
            <navbar></navbar>
            <b-nav-form class="align-middle">
            <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>
    </div>
    <div>
  
        <!-- Nearme -->
      
             <b-card-group deck
                  class="mb-3">
    <b-card title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2">
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <b-button href="#" variant="primary">Go somewhere</b-button>
  </b-card>

  <!-- 2 -->
  <b-card title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2">
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <b-button href="#" variant="primary">Go somewhere</b-button>
  </b-card>

  <!-- 3 -->
  <b-card title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2">
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <b-button href="#" variant="primary">Go somewhere</b-button>
  </b-card>
             </b-card-group>
      
</div>
<!-- Kota besar -->
<div>
    <h1 class="text-center">Kota Besar</h1>
    
    <b-container fluid class="p-4 bg-dark">
  <b-row>
    <b-col>
      <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=54" alt="Thumbnail" />
    </b-col>
    <b-col>
      <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=58" alt="Thumbnail" />
    </b-col>
    <b-col>
      <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=59" alt="Thumbnail" />
    </b-col>
  </b-row>
</b-container>
</div>
<!-- List kampus -->
<div>
    <b-container class="bv-example-row">
    <b-row>
        <b-col>
           
                <h2 v-if="show">hello</h2>
                <button @click="show = !show">toggle</button>
           
        </b-col>
        <b-col>
            <ul>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
            </ul>
            </b-col>
        <b-col>
            <ul>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
                <li>Amikom</li>
            </ul>
        </b-col>
    </b-row>
</b-container>
</div>




</div>


</template>

<script>
import navbar from './Navbar.vue'
export default {
    components:{
        navbar
    },
    data(){
        return{
      show: true
        }
    },
    method(){
       
    }
}
</script>

<style>
.posisi{
    position: absolute;
}
.navbarSize{
    height: 400px;
    width: 100%;
    background-color: red;
}
</style>
