 
<template>
<div class="Loginbody">

  <div class="Loginform">
    <h3>SIGN IN</h3>
    <b-container fluid class="holderUsername">
        <b-row class="my-1">
            <b-col sm="1"><label for="input-default"></label></b-col>
            <b-col sm="8">
            <b-form-input id="input-default" type="text" placeholder="Enter Your Username" v-model="form.username"></b-form-input>
            </b-col>
        </b-row>
    </b-container>
    <b-container fluid class="holderPassword">
        <b-row class="my-1" v-for="type in types" :key="type">
            <b-col sm="1"><label :for="`type-${type}`"></label></b-col>
            <b-col sm="8">
            <b-form-input :id="`type-${type}`" :type="type" placeholder="Enter Your Password" v-model="form.password"></b-form-input>
            </b-col>
        </b-row>
    </b-container>
    <b-button class="buttonLogin" @click="submit()">Some Button</b-button>
  </div>
</div>
</template>

<script>
export default {
  data () {
    return {
      types: [
        'password'
      ],
      form:{
        username:'',
        pssword:''
      }
    }
  },
  methods:{
    submit(){
       let uri = 'http://localhost:8090/login';
              this.axios.post(uri,this.form).then((response) => {
                  if(response.data.token != null){
                    this.$router.push('/')
                  }
              });
  }
}
}
</script>

<style>

h3{
    margin: 5px;
    margin-top: 15px;
    margin-left: 80px;
}
.holderUsername{
    margin: 5px;
    margin-top: 20px;
    margin-left: 26px;
}
.holderPassword{
    margin: 5px;
    margin-top: 20px;
    margin-left: 26px;
}
.Loginbody{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background-color: #33ccff;
    
}
.Loginform {
    width: 450px;
    height: 350px;
    background-color: #f2f2f2;
    margin-left: 420px;
    margin-top: 150px;
    position: fixed;
}
.buttonLogin{
    margin: 10px;
    margin-top: 20px;
    float: right;
    margin-right: 103px;
}

</style>
